* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;

    background: url(./imagens/mountains-universe-1.png);
    font-size: 1.6rem;
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    font-family: "Montserrat", sans-serif;

}